@layer reset, base, tokens, recipes, utilities;

:root {
  --indian-red: #db5461ff;
  --pale-dogwood: #ffd9ceff;
  --rebecca-purple: #593c8fff;
  --ice-blue: #8ef9f3ff;
  --space-cadet: #171738ff;
}

:root {
  background: var(--space-cadet);
  color: var(--ice-blue);
  font-size: 16px;
}
